@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

/* Mobile first, apenas uma coluna é criada, 
  o conteúdo fica empilhado,
  as linhas se adaptam para que o header e o footer
  preencham espaços relativos a seu conteúdo, o que 
  sobra (1fr) fica para o conteúdo principal.*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  min-height: 100vh;
  color: white;
}

/*O z-index: 1 garante que o header e sua sombra sempre
  fiquem acima do restante do conteúdo.*/
.header {
  grid-column: 1 / -1;
  background-color: #333a45;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  color: #333;
}

.content-sidebar-menu {
  background-color: #474e5d;
  padding: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

button {
  color: white;
  background-color: #e4a80d;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #ca940c;
}

button:active {
  background-color: #9f750a;
  outline: none;
}

input {
  border-radius: 1em;
  border: none;
  background-color: rgb(224, 223, 223);
  width: 40em;
  height: 2em;
  font-size: 1em;
  padding: 0.5em 1em;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /*Remove as setas que aumentam ou reduzem o valor no input do tipo 'Number'*/
  -webkit-appearance: none;
  margin: 0;
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

form input {
  width: 10rem;
}

form label {
  font-weight: bold;
  font-size: 0.9rem;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  font-size: 1rem;
  height: 2.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.radio-button-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
}

.radio-button-field label {
  width: 7rem;
  font-weight: normal;
}

.radio-button-field input {
  width: auto;
  height: auto;
  margin-right: 0.5rem;
}

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.form-buttons button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
}

.content-main {
  background-color: #f4f4f4;
  color: #333;
  padding: 2rem;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2rem;
}

.book-card {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 0.5em;
  border-left: 0.5em solid #e4a80d;
  padding: 1rem 2rem;
  box-shadow: 0px 3px 2px 0.5px rgb(207, 207, 207);
  width: 24rem;
  height: 15rem;
  gap: 1rem;
}

.book-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

.book-card h4 {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

.book-card-buttons-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.footer {
  grid-column: 1 / -1;
  background-color: #333a45;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.footer img {
  height: 3rem;
}

/* Aplica o CSS em telas maiores que 768px, 
  telas de tables ou desktop, 
  o layout fica com 3 colunas.
  
  O uso do 'auto 1fr auto' garante que o conteúdo
  principal ocupe a tela toda depois que o header e o 
  footer já estão em seus lugares.*/
@media (min-width: 768px) {
  .container {
    grid-template-columns: 25rem 4fr;
    grid-template-rows: auto 1fr auto;
  }

  .header,
  .footer {
    grid-column: 1 / -1;
  }

  .content {
    grid-column: 2 / 4;
  }

  .content-sidebar-menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #add-new-book-button {
    margin-top: 2rem;
  }
}
